*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    background-color:#ffff00;
    height: 500px;
}

.img{
    
    display: inline-block;
    position: relative;
    text-align: center;
    
 }
.txt {
    position: absolute;
    color:white;
 }
/* carasoul */
.span{
    font-size: xx-large;
    padding: 4px;
    margin-left: 4px;
    background-image: radial-gradient(orange,rgb(221, 19, 107));
}

/* card */
.line{
    width: 90%; 
   text-align: center; 
   border-bottom: 1px solid gray; 
   margin-left: 4px;
   margin-right: 4px;
   padding-left: 2px;
}

/* footer logo style */
.brand{
    border-radius: 60%; 
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em; 
    background-color: white; 
    color:black;

}